* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}






.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    padding: 15px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-header h1 {
    font-size: 16px;
}




.profile-container {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.edit-profile-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #2d3436;
    margin-bottom: 5px;
}

.form-group input[type="text"], 
.form-group input[type="email"], 
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.form-actions {
    margin-top: 20px;
}

.btn-save-profile, .btn-cancel {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    
}

.btn-cancel {
    font-size: 13px;
}

.btn-save-profile:hover, .btn-cancel:hover {
    background-color: #2980b9;
}

.btn-cancel {
    background-color: #7f8c8d;
}

.confirmation-dialog {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
   
    justify-content: center; 
    align-items: center; 
}

.dialog-content {
    background-color: white; 
    padding: 20px;
    border-radius: 5px;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.dialog-content button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirm-yes {
    background-color: #3498db;
    color: white;
}

#confirm-no {
    background-color: #e74c3c;
    color: white;
}
