.reports {
    margin-left: 280px; 
    padding: 40px;
    background-color: #CBE2FD;
    height: auto;
    transition: margin-left 0.3s ease;
}

.reports-title {
    text-align: center;
    font-size: 18px;
    color: #3498db;
    margin: 20px 0;
}

.reports-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498db;
    padding: 15px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reports-header h1 {
    font-size: 16px;
}

.h1 {
    margin-bottom: 0px;
}

.note {
    font-size: 10px;
    margin-top: 3px;
}

.date-range {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.date-range input {
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
}

.date-range button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.date-range button:hover {
    background-color: #2980b9;
}

.reports-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin-top: 40px;
}

.report-box {
    background-color: #DDAEF2;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.report-box h3 {
    margin-bottom: 15px;
}

.report-table {
    width: 100%;
    margin-top: 10px;
}

.report-table td {
    padding: 5px;
}

.user-count {
    font-size: 36px;
    font-weight: bold;
    color: #3498db;
}

.chart-container {
    margin-top: 40px;
    width: 100%; /* Ensure container spans full width */
}

.chart-box {
    background-color: white; 
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width for the box */
    display: flex;
    justify-content: flex-end; /* Aligns the chart box content to the right */
}


.highlight {
    background-color: #FFEFAF; /* Light yellow for highlighting */
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



.reports-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin-top: 40px;
}

.report-box {
    background-color: #DDAEF2;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.chart-container {
    margin-top: 40px;
    width: 100%; /* Ensure container spans full width */
}

.chart-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 500px; /* Set a height for the canvas */
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
